<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!-- Целевая платформа = установленный DBeaver.
     Путь берётся из переменной окружения DBEAVER_HOME (каталог, в котором лежит папка plugins).
     Windows: set DBEAVER_HOME=C:\Program Files\DBeaver
     Linux:   export DBEAVER_HOME=/usr/share/dbeaver-ce
     macOS:   export DBEAVER_HOME=/Applications/DBeaver.app/Contents/Eclipse -->
<target name="DBeaver (local installation)" sequenceNumber="1">
    <locations>
        <location path="${env_var:DBEAVER_HOME}/plugins" type="Directory"/>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>
